[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyqt5 = "*"
pyqtwebengine = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
beautifulsoup4 = "*"
lxml = "*"
requests = "*"

[requires]
python_version = "3.8"
